node_modules
frontend/
.env
npm-debug.log
.git
compose.yml
Dockerfile
.dockerignore
db/
.env.example
LICENSE
.gitignore
Dockerfile_Compose_Verification_Roadmap.md
tests/
.github/
README.md
PROGRESS.md
prometheus/
loki/
promtail/
grafana/
nginx/