DB_HOST=db
DB_PORT=5432
DB_NAME=invoiceflow
DB_USER=postgres
DB_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379

SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
FROM_EMAIL=billing@invoiceflow.local

PORT=3000
SERVICE_NAME=invoiceflow-api
